.container {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }


  .email-confirmed {
    color: #333;
  }
  
  .email-thank {
    color: #333;
  }
  
  .success-icon {
    color: #4CAF50;
    font-size: 64px;
  }
  